/* Overlay: block drag handle */
.drag-handle {
  display: none;
}

@media (min-width: 640px) {
  .drag-handle {
    display: block;
  }
}

.tiptap-drag-handle-group {
  display: flex;
  align-items: center;
  gap: 4px;
}

.tiptap-drag-handle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  border-radius: 0.25rem;
  color: #71717a;
  background-color: #27272a;
  cursor: grab;
  transition:
    opacity 75ms,
    color 75ms,
    background-color 75ms;
}

.tiptap-drag-handle:hover {
  opacity: 1;
  color: #a1a1aa;
  background-color: #27272a;
}

.tiptap-drag-handle:active {
  cursor: grabbing;
  color: #d4d4d8;
  background-color: #3f3f46;
}

.tiptap-drag-handle-add {
  cursor: pointer;
}

.tiptap-drag-handle-add:active {
  cursor: pointer;
}
